/*
  ========================================
  Structures
  ========================================
*/


body {
    font-family: georgia;
    
}

.container {
    width: 960px;
    margin: 0 auto;

  }

  header {
    background-color: black;
    color: white;
  }

.shop-window {

  border: 1px solid black;
  height: 800px;

}

    


/*
  ========================================
  Navs
  ========================================
*/

.nav {
    width: 30%;

}

.nav li {
    display: inline;
}

.nav-logo {
    float: left;
    text-align: left;
    margin: 0 5%;
}

.nav-cart {
    float: right;
    text-align: right;
    margin: 0 10%;
}


/*
  ========================================
  Images
  ========================================
*/

.small-image {
    padding-top: 8px;
    padding-right: 10px;
    width: 25px;

}

.main-logo {
    
    height: 50%;
    opacity: 0.9;
    width: 100%;
    height: auto;

    
}



.silent-night {
    background: url(axe_silent_night_small.jpg);
}

.dainty-daisy {
    background: url(axe_dainty_daisy_small.jpg);
}

.cunning-cutter {
    background: url(axe_cunning_cutter_small.jpg);
}

.double-trouble {
    background: url(axe_double_trouble_small.jpg);
}

.kingmaker {
    background: url(axe_kingmaker_small.jpg);
}

.whispering-wind {
    background: url(axe_whispering_wind_small.jpg);
}

.product-image {
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 150px;
    background-color: white;
    background-position: center center;
    position: relative;
}


/*
  ========================================
  Sub-heading
  ========================================
*/

.Sub-heading {
    
    padding: 22px;
    text-align: center;
    
}


/*
  ========================================
  Typography
  ========================================
*/

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}


/*
  ========================================
  Prompt
  ========================================
*/

.prompt {
    text-align: center;
    border-bottom: 1px solid #444;
}


/*
  ========================================
  Product
  ========================================
*/

.display-grid {
    margin: 4%;


}

.product {
    margin: 2%;
    width: 26.6%;
    float: left;
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
    border: solid black 1px;
    border-radius: 10px;
}

.price-tag {
    background-color: green;
    color: white;
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 4px;
    border-bottom-left-radius: 10px;
}


/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  margin: 22px 10px;
  padding: 5px 20px;
  border-radius: 15px;
  border: none;

}

.add-btn {
    background-color: red;
    
}

.add-btn:hover {
  background-color: #AF0303;
  color:white;
}


/*
  ========================================
  Footer
  ========================================
*/

.footer {
    clear: both;
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.contact-details {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.contact-title {
    color: red;
    padding-left: 25px;
}


